p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

img {
  display: block;
  width: 270px;
  height: 150px;
  object-fit: cover;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

/* Search Field */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #1565c0;
}

.search-form {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;

  overflow: hidden;

  width: 400px;
  padding: 25px auto;
  height: 50px;
  background-color: #fafafa;
  border-radius: 30px;
}

.search-form:hover,
.search-form:focus {
  outline: solid 1px;
  outline-color: rgb(7, 181, 250);
}

.search-form-input {
  flex-grow: 1;
  padding-left: 20px;

  border: none;
  outline: none;
  height: 30px;
  border-radius: 30px;

  background-color: #fafafa;

  font-size: 18px;
}

button {
  border: none;
  background-color: #fafafa;
}

.search-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-left: -5px;
  bottom: -20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.2s;
}

.search-form__btn:hover,
.search-form__btn:focus {
  background-color: rgb(241, 239, 239);
  /* filter: invert(1); */
  /* filter: blur(2px); TODO: */
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.lightbox {
  color: black;
  text-decoration: none;
}

.photo-card {
  margin-top: 30px;
  margin-left: 30px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

.info-number {
  margin-top: 5px;
  font-weight: 400;
  font-size: 11px;
}
